
<div class="container-fluid">
  <h1>Burgers Table</h1>
  <div class="row">
    <div class="col-sm-4">
  <h3 style="background-color:green; color: #fff; font-weight: bold;">Edible</h3>
   </br>
   <ul class="b">
        {{#each burgers}}
        {{#unless devoured}}
         <li>
               {{this.id}}
               {{this.name}}
        
               
               </li>
         {{/unless}}
         {{/each}}
  </ul>
</div>
  
  <div class="col-sm-4">
<h3 style="background-color:red; color: #fff; font-weight: bold;">Consumed</h3>
</br>
<ul>
        {{#each burgers}}
        {{#if devoured}}
         <li>
               {{this.id}} 
               {{this.name}}</li>
         {{/if}}
         {{/each}}
  </ul>
</div>
</div>
</br>

<div id="add-burgers">
<h2>Add a burger</h2>
 <form class="update" action="/" method="POST">
  <div class="form-group">
    <label for="burgers">Burger Name:</label>
    <input type="text" id="name" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Yes.<br>
    <input type="radio" name="devoured" value="0"> No.
  </div> --}}

  <button type="submit">Submit</button>
</form>
</div>

</div>
</div>